doctype html
html(lang="es")
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    h1= title
    p= message
    hr
    p Estado del sistema: 
      span(style="color: green") Online