doctype html
html
  head
    title Registro - Fotaza 2
  body
    h1 Creá tu cuenta en Fotaza 2
    form(action="/auth/register", method="POST")
      div
        label Usuario: 
        input(type="text", name="username", required=true)
      div
        label Email: 
        input(type="email", name="email", required=true)
      div
        label Contraseña: 
        input(type="password", name="password", required=true)
      br
      button(type="submit") Registrarme
    br
    a(href="/") Volver al inicio